
<br/>표시할 차트를 선택 하세요.
  <form action="/node" method="post" autocomplete="on">
    Temparature <input type ="checkbox" name="node1" value="1" />
    SPEED <input type ="checkbox" name="node2" value="2" />
    DATA_TEST <input type ="checkbox" name="node3" value="3" />
    LAST GRAPH <input type ="checkbox" name="node4" value="4" />
    <input type ="submit" name="submit" value="submit" />
  </form>



<!-- Location where the chart will be added -->
<p>
<div id= "chart-location" style="float:left"></div>
<div id="chart2-location" style="float:left"></div>
<div id="chart3-location" style="float:left"></div>
<div id="chart4-location" style="float:left"></div>
</p>


<script id="tabular-template" type="text/html; charset=UTF-8">
</script>
